/* Global */

html,
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* app Container */

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
    height: 100vh;
    width: 100vw;
}

/* header */

h1 {

    color: white;
    font-size: 2rem;
    font-weight: 700;
    background-color: darkblue;
    border-radius: .3rem;
    padding: .5rem 0px;
    width: 100%;
    text-align: center;
}

/* Successful */

.sucessful-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 800;
    font-size: 1.5rem;
    padding: .5rem;
    background-color: green;
    width: 60%;
    height: 2.5rem;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}


/* section container */

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    padding: 1rem;
    background-color: lightseagreen;
    margin-top: 1rem;
    border-radius: 1rem;
}

/* profile pic */

.profile-pic {
    width: 25vw;
    height: 25vw;
}

/* form container */

.form-container {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    margin-top: 3rem;
    --webkit-box-sizing: border-box;
}

.diplay-err {
    color: red;
    margin-bottom: .5rem;
}

input {
    padding: .5rem;
    font-size: .8rem;
    margin: .3rem 0px;
    border-radius: .5rem;
    border: none;
}

label {
    font-size: 1rem;
    font-weight: bold;
}

.terms-cond-container {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}

.terms-condit {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}

.checkbox {
    cursor: pointer;
}

.terms-conds-label {
    margin-left: .25rem;
}

.submit {
    padding: .5rem;
    border-radius: .4rem;
    border: none;
    background-color: red;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}

.green-back{
    background-color: green;
    color: white;
}

.hideForm{
    display: none;
}

.displayImg{
    display: inline-block;
}

.marginEl{
    margin-top: 15vw;
}

@media all and (max-width:576px) {
    img {
        display: none;
    }
}